<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="card-background-page">

  <ion-card>
    <img src="../assets/img/party.jpg">
    <ion-card-content>
      <ion-card-title>
        Nine Inch Nails Live
        </ion-card-title>
      <p>
        The most popular industrial group ever, and largely
        responsible for bringing the music to a mass audience.
      </p>
    </ion-card-content>
  </ion-card>
  
  <ion-card (tap)="tapEvent($event)">
      <ion-item>
        Tapped: {{tap}} times
      </ion-item>
    </ion-card>

  <ion-card (tap)="tapEvent($event)">
    <img src="../assets/img/sport.jpg">
    <ion-card-content>
      <ion-card-title>
        sporten 
        </ion-card-title>
      <p>
        Voetbal, snowboard, muurklimmen, ...  
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="../assets/img/kazou.jpg">
    <ion-card-content>
      <ion-card-title>
        Kazou vakanties
        </ion-card-title>
      <p>
        Alle foto's van de kazouvakanties  
      </p>
    </ion-card-content>
  </ion-card>

</ion-content>
